{{! this file will handle the rendering for the all items view, which should load on clicking the items button in the navbar }}

<div class="container">
	<h2 class="center-align">ALL ITEMS</h2>

	<table class="striped responsive-table">
		<tbody>
			<tr>
				<td>Item Number</td>
				<td>Item Name</td>
				<td>Item Description</td>
				<td>Item Checked In/Out</td>
				<td>Checked out by Employee</td>
			</tr>
			{{#each items as |item|}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.item_name}}</td>
					<td>{{this.item_description}}</td>
					{{#if this.item_checked_in}}
						<td class="green">IN</td>
						<td>N/A</td>
					{{else}}
						<td class="red white-text">OUT</td>
						<td>{{this.employee_id}}</td>
					{{/if}}
				</tr>
			{{/each}}
		</tbody>
	</table>

	{{! Add Item Button code goes here }}
	<button
		class="btn waves-effect waves-light blue lighten-2"
		onclick="location.href='https://inventorymanagement.herokuapp.com/item_add'"
		type="submit"
		name="action"
	>Add Item</button>
	
	{{! Edit Item Button code goes here }}
	<button
		class="btn waves-effect waves-light"
		onclick="location.href='https://inventorymanagement.herokuapp.com/item_add'"
		type="submit"
		name="action"
	>Edit Item</button>

</div>